@tailwind base;
@tailwind components;
@tailwind utilities;

.s-loading {
    border: 4px solid #ffffff75; /* Light grey */
    border-top: 4px solid #ffffff; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
  @keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
.skeleton {
    animation: pulse 1.5s infinite;
}


@keyframes shine {
  0% {
      background-position: -200px 0;
  }
  100% {
      background-position: 200px 0;
  }
}
.shine {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200px 100%;
  animation: shine 1.5s infinite linear;
}

  .loader{
    font-size: 50px;
    color: #065f46;
    display: inline-block;
    font-weight: 900;
    position: relative;
  }
  .loader:before{
    content: '';
    animation: 5s print linear alternate infinite;
  }
  .loader:after{
    content: '';
    position: absolute;
    right: -4px;
    top: 50%;
    transform: translatey(-45%);
    width: 2px;
    height: 1.3em;
    background: currentColor;
    opacity: 0.8;
    animation: 1s blink steps(2) infinite;
  }
  
  @keyframes blink {
    0%  { visibility: hidden;}
    100%  { visibility: visible;}
  }
  @keyframes print {
    0% { content: 'L'}
    10% { content: 'Lo'}
    20% { content: 'Loa'}
    30% { content: 'Load'}
    40% { content: 'Loadi'}
    50% { content: 'Loadin'}
    60% { content: 'Loading'}
    70% { content: 'Loading.'}
    80% { content: 'Loading..'}
    90% , 100% { content: 'Loading...'}
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }