@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    border: 4px solid #ffffff75; /* Light grey */
    border-top: 4px solid #ffffff; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }