/* filepath: /c:/Users/navla/Documents/web/PC/first/pxc/src/index.css */
@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/nm2d.woff2') format('woff2'),
       url('./fonts/nm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CustomFont', sans-serif;
}
@font-face {
  font-family: 'ff';
  src: url('./fonts/jur.woff2') format('woff2'),
       url('../fonts/jur.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font-ff {
  font-family: 'ff', sans-serif;
}