@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

.ccf {
  font-family: "Bricolage Grotesque", sans-serif;
}

.geist {
  font-family: "Geist", sans-serif;
}

.fc {
  font-family: "Sour Gummy", "Dancing Script", "Pacifico", "Bradley Hand", cursive;
}

.Mont {
  font-family: "Montserrat", sans-serif;
}

.mesh_sem {

  background: #021123;


}

.mesh_sem2 {

  background: radial-gradient(at 23.976293103448278% 36.666666666666664%, #17032c 0px, transparent 50%), radial-gradient(at 76.99353448275862% 58.54166666666667%, #d7b7ff 0px, transparent 50%), radial-gradient(at 41.43318965517241% 57.49999999999999%, #9078ec 0px, transparent 50%), radial-gradient(at 100% 100%, #000000 0px, transparent 50%), radial-gradient(at 0% 61.04166666666667%, #62b339 0px, transparent 50%), radial-gradient(at 0% 100%, #000000 0px, transparent 50%), #000000;


}

.mesh_hero {

background-color:hsla(138,0%,0%,1);
background-image:
radial-gradient(at 0% 100%, hsla(181,0%,0%,1) 0px, transparent 50%),
radial-gradient(at 50% 56%, hsla(151,100%,20%,1) 50px, transparent 50%);


}

.mesh_2 {

  background: radial-gradient(at 88% 0%, #000000 0px, transparent 50%), radial-gradient(at 41% 38%, #01211100 0px, transparent 100%), radial-gradient(at 95% 100%, #b030b069 50px, transparent 80%), radial-gradient(at 62% 66%, #b030b069 0px, transparent 50%), #000000;

}
.glass {
      backdrop-filter: blur(20px);
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
.mesh {


  background: radial-gradient(at 1.4547413793103448% 60%, #766161 0px, transparent 50%), radial-gradient(at 85.9375% 54.58333333333333%, #87a7b3 0px, transparent 50%), #000000;


}

.mesh_profile {


  background: radial-gradient(at 75.16163793103449% 8.125%, #00084d 0px, transparent 50%), radial-gradient(at 15.463362068965516% 10.625%, #012c11 0px, transparent 50%), radial-gradient(at 45.63577586206897% 32.916666666666664%, #02003d 0px, transparent 50%), #000000;


}

.mesh_select {

  background: radial-gradient(at 8.243534482758621% 69.375%, #380e7f 0px, transparent 50%), radial-gradient(at 51.34698275862068% 30%, #6915cf 0px, transparent 50%), radial-gradient(at 30.226293103448278% 51.041666666666664%, #d62196 0px, transparent 50%), radial-gradient(at 78.60991379310344% 54.37499999999999%, #e497cd 0px, transparent 50%), #000;

}

.profile_2 {
  background-color: #254336;
  background-image: radial-gradient(at 35% 31%, #254336 0%, transparent 60%), radial-gradient(at 88% 42%, #6b8a7a 0%, transparent 50%), radial-gradient(at 55% 10%, #b7b597 0%, transparent 40%), radial-gradient(at 44% 4%, #dad3be 0%, transparent 30%);
}

.mesh_ns {
  background-color: #000000;
  background-image: radial-gradient(at 36% 6%, #000000 0%, transparent 60%), radial-gradient(at 74% 21%, #4e4feb 0%, transparent 50%), radial-gradient(at 48% 81%, #068fff 0%, transparent 40%), radial-gradient(at 90% 61%, #eeeeee 0%, transparent 30%);
}


.border-gradient {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, rgb(255, 0, 0), purple, rgba(255, 0, 0, 0)) 1;
}

.border-gradient-l {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, rgba(0, 0, 255, 0), purple, rgb(255, 0, 0)) 1;
}


.bg-pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.02) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
  background-size: 20px 20px;
  pointer-events: none;
  z-index: 0;
}


/* bokk */



/* From Uiverse.io by eslam-hany */
.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: whitesmoke;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

/* From Uiverse.io by Enashpinal */
.button_d {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.3em;
  height: 5.3em;
  border: none;
  cursor: pointer;
  border-radius: 0.4em;
  background: rgba(240, 240, 240, 0.9);
}

.window {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


.button_d:focus .container {
  animation: wow 1s forwards;
}

@keyframes wow {
  20% {
    scale: 0.8;
  }

  30% {
    scale: 1;
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }

  65% {
    transform: translateY(4px);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    scale: 1;
  }
}

.text {
  content: "";
  position: absolute;
  top: -4.5em;
  width: 7.7em;
  height: 2.6em;
  background-color: #666;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  text-shadow: 0 0 10px rgb(0, 0, 0);
  opacity: 0;
  transition: all 0.25s linear;
}

.button_d:hover .text {
  opacity: 1;
}